body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.custom-slider .slick-dots {
  bottom: 30px; /* Move the dots up */
}

.custom-slider .slick-dots li button:before {
  font-size: 12px;
  color: white; /* Change the dots color to white */
}

.custom-slider .slick-dots li.slick-active button:before {
  color: white; /* Change the active dot color to white */
}
html {
    scroll-behavior: smooth;
}